:root {
  --font-color: #000;
  --bg-color: #fff;
  --bg-top-image: url("Images/TopDot.png");
  --bg-bottom-image: url("Images/BottomDot.png");
  --bg-image: url("Images/Dot.png");
  --image-invert: invert(1);
  --light-color: hsl(118, 31%, 80%);
  --dark-color: hsl(118, 24%, 24%);
  --light-alpha-color: hsla(118, 24%, 34%, 0.75);
  --dark-alpha-color: hsla(118, 24%, 24%, 0.75);
  --border: hsl(118, 24%, 24%);
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--font-color);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}

select {
  background-color: var(--font-color);
  color: var(--bg-color);
  border: 1px var(--border) solid;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

select > option:nth-of-type(n+1) {
  text-align: start;
}

svg {
  fill: var(--font-color);
}

.copy {
  display: grid;
  justify-content: center;
}

input[type="button"] {
  background-color: var(--bg-bottom-image);
  border-color: var(--font-color);
  color: var(--border);
  border: 2px var(--border) solid;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--light-color);
  }
}

/* HEADER styles */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.fa-circle-half-stroke {
  cursor: pointer;
  font-size: 1.7rem;
}

/* INPUT Styles */

.input {
  display: grid;
  -webkit-user-select: none;
  user-select: none;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px 5px;
  margin: 10px;
}

.input > div > * {
  cursor: pointer;
}

.noteLength {
  display: flex;
  align-items: center;
  justify-self: end;
  grid-area: "notelen";
  gap: 5px;
}

.noteLength > label {
  height: 40px;
  width: 40px;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px var(--font-color) solid;
  filter: var(--image);
  grid-area: "notelen";
  &:hover {
    background-color: var(--dark-alpha-color);
  }
}

.noteLength > input:checked + label {
  filter: var(--image);
  border: 2px var(--border) solid !important;
  z-index: 1;
  background-color: var(--light-alpha-color);
}

.toggle {
  border: 1px var(--font-color) solid;
  padding: 5px;
}

.chord > input:checked + label, .technique > input:checked + label {
  background-color: var(--font-color);
  color: var(--bg-color);
  outline: 1px var(--border) solid;
}

.technique {
  justify-self: end;
}

.technique > label {
  outline: 1px var(--font-color) solid;
  padding: 5px;
  font-family: "Roboto Mono", Courier, monospace;
  &:hover {
    background-color: var(--dark-color);
  }
}

label[for="whole"] { background-image: url("Images/Whole.png");}
label[for="half"] { background-image: url("Images/Half.png");}
label[for="quarter"] { background-image: url("Images/Quarter.png");}
label[for="eighth"] { background-image: url("Images/Eighth.png");}
label[for="sixteenth"] { background-image: url("Images/Sixteenth.png");}

/* GUITAR styles */

.fretboard {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0px;
}

th {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  min-width: 3.6vw;
  height: 3.6vw !important;
}

td {
  border: 1px var(--font-color) solid;
  min-width: 3.6vw;
  height: 3.6vw;
}

tr:nth-child(n+2)>th {
  border: 1px var(--font-color) solid;
  border-right: 5px var(--font-color) solid;
  border-left: none;
}

/* OUTPUT styles */

.output {
  display: inline-flex;
  border: 2px var(--font-color) solid;
  height: fit-content;
  width: 95%;
  margin: 20px;
  padding: 10px;
  font-family: "Roboto Mono", Courier, monospace;
}

/* HOVER effects */

tr:nth-child(n+2)>th:hover, td:hover {
  background-color: var(--light-color);
}

.hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  z-index: -9999999;
  opacity: 0;
}

.leftmargin {  margin-left: 20px;}

.topmargin {  margin-top: 20px;}

.content-bottom {
  display: grid;
  align-content: end;
}

.content-top {
  display: grid;
  align-content: start;
}

.content-center {
  display: grid;
  align-content: center;
}

.selected {  
  background-color: var(--dark-color);
  &:hover {
    background-color: var(--dark-alpha-color);
  }
}
