/* Variables */
:root {
  --font-color: #111;
  --bg-color: #fff;
  --bg-img: none;
  --bg-animation: none;
  --light-color: hsl(118, 31%, 80%);
  --dark-color: hsl(118, 24%, 24%);
  --light-alpha-color: hsla(118, 24%, 34%, 0.75);
  --dark-alpha-color: hsla(118, 24%, 24%, 0.75);
  --border: hsl(118, 24%, 24%);
  --img-filter: 0;
}

body {
  display: grid;
  grid-template: 
  "head" 10vh
  "main" 90vh / 1fr;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  animation: var(--bg-animation);
  background-size: 200% 100%;
}

main {
  grid-area: "main";
  display: grid;
  grid-template: 
  "input" 2fr
  "fretboard" 2fr
  "output" 2fr
  "copy" 0.5fr / 1fr;
  row-gap: 10px;

  @media (max-width: 600px) {
    grid-template: 
    "input" min-content
    "fretboard" min-content
    "output" min-content
    "copy" min-content / 1fr;

    @media (max-width: 400px) {
      .guitar {
        width: 100%;
      }
    }
  }
}

#settings { 
  path {  pointer-events: stroke; }

  &:hover {
    transform: rotate(60deg);
    transition: ease-in-out 0.5s;

    path {
      fill: var(--dark-color);
      transition: ease-in-out 0.3s;
    }
  }

  &:not(:hover) {
    transform: rotate(0deg);
    transition: ease-in-out 0.5s;

    path {
      fill: var(--font-color);
      transition: ease-in-out 0.3s;
    }
  }
}

/* Reset and base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  color: var(--font-color); }
svg {  fill: var(--font-color); }
h1 {  font-size: clamp(1.5rem, 3vw, 1.8rem); }

h1, th, .input {
  -webkit-user-select: none;
  user-select: none;
  font-family: system-ui, Roboto;
}

p {
  font-family: monospace;
  -webkit-user-select: none;
  user-select: none;
}

/* utility classes */

.hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  z-index: -9999999;
  opacity: 0;
}

.inv-text {  color: var(--bg-color) !important; }
.bordered {  border: 2px var(--font-color) solid !important; }
.border-color {  border: 2px var(--border) solid !important; }
.selectedLight {  background-color: var(--light-alpha-color); }

td[class^="align"] {

  svg {
    position: absolute;
    z-index: 10;
  }
}

.align-bottom {
  svg {  bottom: 0; }
  p {  top: 0; }
}

.align-top {
  svg {  top: 0; }
  p {  bottom: 0; }
}

.align-center {
  svg {
    top: 50%;
    transform: translateY(-50%);
  }

  p {  color: var(--bg-color) !important; }
}

/* Animations */
/* Caret */
@keyframes blink-caret {
  0% {
    background-color: var(--bg-color);
  }
  50% {
    background-color: var(--dark-alpha-color);
  }
  100% {
    background-color: var(--bg-color);
  }
}

/* Selected */
@keyframes blink-select {
  0% {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
  50% {
    background-color: var(--dark-color);
    color: var(--bg-color);
  }
  100% {
    background-color: var(--dark-color);
    color: var(--bg-color);
  }
}

/* Rainbow */
@keyframes background-scroll {
  from {  background-position: 0% 0; }
  to {  background-position: 200% 0; }
}